on:
  push:
    brances:
      - main
   


jobs:
  run-unit-testing:
    runs-on: ubuntu-latest
    steps:
      - name: repo-checkout
        uses: actions/checkout@v5.0.0
      
      - name: set-up python 
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: install environment requirments
        run: pip install -r requirements.txt
      
      - name: run unit tests
        run: |
          cd tests/unit-tests
          pytest

  run-integration-testing:
    runs-on: ubuntu-latest
    env:
      DB_HOST: "localhost"
      DB_USER: "postgres"
      DB_PASSWORD: "postgres"
      DB_DATABASE: "postgres"
      DB_PORT: "5432"

      
    steps:
      - name: repo-checkout
        uses: actions/checkout@v5.0.0
      
      - name: set-up python 
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: install environment requirments
        run: pip install -r requirements.txt
      - name: database container up
        run: |
          cd docker/test-env
          docker compose up -d
          cd ../..
      - name: run integration tests
        run: |
          pwd
          cd tests/integeration-testing
          pytest